{% extends "base.html" %}

{% block title %}Liberium - Home Page{% endblock %}

{% block content %}

<div class="content">

```
<h1 class="titulo-home">Bem-vindo(a) à sua Estante Liberium!</h1>

<section class="estatisticas">
    <h2>Suas Estatísticas</h2>

    <div class="estatisticas-container">

        <div class="grafico">
            <canvas id="generosLidos"></canvas>
            <p>Gêneros Lidos</p>
        </div>

        <div class="numero-livros">
            <h3>Livros Lidos</h3>
            <span>30</span>
        </div>

        <div class="grafico">
            <canvas id="livrosAndamento"></canvas>
            <p>Livros em andamento</p>
        </div>

    </div>
</section>

<section class="meta">
    <div class="meta-leitura">

        <p class="t1-meta">
            <strong>Sua meta de leitura:</strong> 10 livros esse mês.
        </p>

        <div class="barra-progresso">
            <div class="progresso" style="width: 60%;"></div>
        </div>

        <p class="texto-meta">
            Você está no caminho certo, continue lendo mais 4 livros para bater sua meta!
        </p>

    </div>
</section>

<section class="carrossel">

    <h2>Sugestões de leitura</h2>

    <div class="carrossel-container">

        <button class="carrossel-btn left">&#10094;</button>

        <div class="carrossel-cards">

            {% for livro in livros %}

            <div class="card">

                <a href="{{ url_for('books_bp.detalhes', origem=livro.origem, id=livro.id) }}" class="card-link">

                    {% if livro.capa %}
                        <img src="{{ livro.capa }}" alt="{{ livro.titulo }}">
                    {% else %}
                        <div class="sem-capa"></div>
                    {% endif %}

                    

                </a>

            </div>

            {% endfor %}

        </div>

        <button class="carrossel-btn right">&#10095;</button>

    </div>

</section>

<div class="botao-estante">
    <a href="#" class="btn-estante">Ver minha estante</a>
</div>

</div>
{% endblock %}
