# Banco de dados SQLite
liberium.db

# Arquivos do SQLite
*.db
*.sqlite3

# Ambiente virtual
env/
venv/

# Variáveis de ambiente
.venv
#.env

# Cache Python
__pycache__/
*.pyc

# Arquivos do Flask
instance/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Fotos de perfil enviadas pelos usuários
static/img/perfis/*
!static/img/perfis/.gitkeep