# Banco de dados SQLite
liberium.db

# Arquivos do SQLite
*.db
*.sqlite3

# Ambiente virtual
env/
venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Arquivos do Flask
instance/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db