{% extends "base.html" %}

{% block title %}{{ livro.titulo }} - Liberium{% endblock %}

{% block content %}
<section class="livro-container">

    <div class="livro-info">

        {% if livro.capa %}
            <img src="{{ livro.capa }}" class="capa-livro">
        {% endif %}

        <div class="detalhes-livro">
            <h1>{{ livro.titulo }}</h1>

            <p class="autores">por <strong>{{ livro.autores }}</strong></p>
            <p><strong>Editora:</strong> {{ livro.editora }}</p>
            <p><strong>Ano:</strong> {{ livro.ano }}</p>
            <p><strong>Páginas:</strong> {{ livro.paginas }}</p>
            <p><strong>Categorias:</strong> {{ livro.categorias }}</p>
            <p><strong>Avaliação:</strong> ⭐ {{ livro.avaliacao }} ({{ livro.avaliacoes }} avaliações)</p>
        </div>

    </div>

    <div class="descricao-livro">
        <h2>Sinopse</h2>
        <p>{{ livro.descricao | safe }}</p>
    </div>

    <div class="info-extra">
        <!-- <p><strong>Formato:</strong> {{livro.formato}}</p> -->
        <p><strong>Páginas:</strong> {{ livro.paginas }}</p>
        <p><strong>Editora:</strong> {{ livro.editora }}</p>
        <p><strong>Ano:</strong> {{ livro.ano }}</p>
    </div>

    <div class="avaliacoes-livro">
        <h2>Avaliações</h2>
        <p>{{ livro.comentario}}</p>
    </div>

</section>
{% endblock %}
