{% extends "base.html" %}

{% block content %}

<h1 class="titulo-resultados">Resultados</h1>

<div class="lista-livros">

    {% for livro in livros %}
    
    <a href="{{ url_for('books_bp.detalhes', origem=livro.origem, id=livro.id, capa=livro.capa) }}" 
       class="card-livro">

        {% if livro.capa %}
            <img src="{{ livro.capa }}" class="capa-lista">
        {% else %}
            <div class="sem-capa">Sem capa</div>
        {% endif %}

        <div class="info-livro">
            <h4>{{ livro.titulo }}</h4>
            <p>{{ livro.autor }}</p>
            <p class="descricao-curta">{{ livro.descricao }}</p>
        </div>

    </a>

    {% endfor %}

</div>
{% endblock %}