<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Liberium{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap" rel="stylesheet">
</head>
<body>

  {# Só mostra cabeçalho se NÃO estiver na rota index #}
  {% if request.endpoint != 'index' %}
  <header>
    <nav class="topnav">
  <a href="{{ url_for('index') }}" class="brand">Liberium</a>
  <a href="{{ url_for('home') }}">Minha Estante</a>
  <a href="{{ url_for('login') }}">Entrar</a>
</nav>

    </nav>
  </header>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {# Só mostra rodapé se NÃO estiver na rota index #}
  {% if request.endpoint != 'index' %}
  <footer>
    <p>&copy; 2025 Liberium</p>
  </footer>
  {% endif %}

</body>
</html>